* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f5;
  width: 100%;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

#to-do {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: brown;
  text-align: center;
}

.to-do-child {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  height: auto;
  box-shadow: 2px 2px 4px #4a4c52;
  margin-bottom: 20px;
}

.todo-title,
#form,
.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadadc;
  min-height: 30px;
  max-height: 70px;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  gap: 15px;
  padding: 0 5px;
}

button,
.text,
label {
  appearance: none;
  outline: none;
  border: none;
  background-color: inherit;
}

label:hover {
  cursor: text;
}

.todo-title h2,
#todo-lists li label {
  color: #545862;
  font-size: 13px;
  font-weight: 400;
}

button i {
  color: #c3c4c7;
  transition: 250ms ease-in-out;
}

button i:hover {
  color: brown;
  cursor: pointer;
}

.text {
  font-size: 12px;
  caret-color: red;
  color: #545862;
  width: 70%;
}

.text::placeholder {
  font-style: italic;
  opacity: 0.5;
}

#todo-lists {
  margin: 0;
  padding: 0;
}

#todo-lists li {
  list-style: none;
}

#todo-lists li input[type="checkbox"] {
  margin-right: 5px;
  outline: 0;
}

#todo-lists .ellipsis i:hover {
  cursor: move;
}

.clear-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  opacity: 0.8;
  font-size: 13px;
  height: 30px;
  background-color: #c3c4c7;
  transition: 300ms;
}

.clear-completed:hover {
  text-decoration: underline;
  opacity: 1;
  color: brown;
}

.delete {
  display: none;
}

.delete i {
  color: brown;
}

.delete i:hover {
  cursor: pointer;
}

.line {
  text-decoration: line-through;
}

.box:checked + .form-label {
  text-decoration: line-through;
  opacity: 0.6;
}

@media all and (min-width: 768px) {
  .to-do-child {
    width: 45%;
    margin: 0 auto;
  }
}
